<html>
  <body>
    <h3>{{ c.book['name'] }} by {{ c.book['author'] }}</h3>
    <ul>
      {% for recipe in c.book['recipes'] %}
        <li>{{ recipe }}</li>
      {% endfor %}
    </ul>

    <form action="/command/add_recipe">
      <input type="hidden" name="book" value="{{ c.book['id'] }}"/>
      <input type="text" name="title"/>
      <input type="submit" value="Add"/>
    </form>
  </body>
</html>
