<html>
  <body>
    <form action="/command/add_book">
      <input type="text" name="name"/>
      <input type="text" name="author"/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html
