<html>
  <body>
    <form action="/command/add_book">
      <label for="bookName">Book name</label>
      <input type="text" name="name" id="bookName"/>
      <label for="author">Author</label>
      <input type="text" name="author" id="author"/>
      <input type="submit" value="Submit"/>
    </form>
    <h3>Books</h3>
    <ul>
      {% for book in c.books %}
        <li>
          <a href="/view/book/{{ book['id'] }}">{{ book['name'] }}</a> by {{ book['author'] }}
        </li>
      {% endfor %}
    </ul>
    <h3>Authors</h3>
    <ul>
      {% for author in c.authors %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>
  </body>
</html
