<html>
  <body>
    <h3>{{ book['name'] }} by {{ book['author'] }}</h3>
    <ul>
      {% for recipe in book['recipes'] %}
        <li>{{ recipe }}</li>
      {% endfor %}
    </ul>

    <form action="/add_recipe">
      <input type="hidden" name="book" value="{{ book['id'] }}"/>
      <input type="text" name="title"/>
      <input type="submit" value="Add"/>
    </form>
  </body>
</html>
